<!-- ======= Hero Section ======= -->
<section id="zero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div
      class="row justify-content-center"
      data-aos="fade-up"
      data-aos-delay="150"
    >
      <div class="col-xl-6 col-lg-8">
        <h1 style="font-size: 80px; line-height: 50px">
          ABOUT <span>US</span>
        </h1>
        <!-- <h2 style="font-size: 30px;">Data Engineering and Communication Technology <span>(ICDECT) 2022</span></h2> -->
        <br />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<section class="container" id="about">
  <mat-tab-group mat-align-tabs="center" 



  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
  
  
  >
    <mat-tab label="About Conference" >
      <br>
      <br>
      <div class="row">
        <h4 class="text-divider text-center">
          <span id="font" class="heading_department">About Conference</span>
        </h4>
      </div>
      <hr />
  
      <p class="department_para">
        The objective of 6th International Conference on Data Engineering and
        Communication Technology (ICDECT) 2022 is to present a unique platform for
        advanced and multi-disciplinary research towards design of advanced
        computing, information systems, electronic systems. <br>The theme focuses on
        various innovation paradigms in system knowledge, intelligence and
        sustainability that may be applied to provide realistic solution to
        variegated problems in society, environment and industries. The scope is
        also extended towards deployment of emerging computational and knowledge
        transfer approaches, optimizing solutions in a variety of disciplines of
        Computer Science and Engineering, Electronics and Communication
        Engineering, Electrical and Electronics Engineering, Electronics and
        Instrumentation Engineering. The conference proceedings aim to publish
        real and unpublished work pertaining to the topics mentioned below.<br> The
        main aim of the conference is to offer a real opportunity to bring
        together researchers of different disciplines, to discuss and share new
        issues, to tackle complex problems and to find advanced solutions breeding
        trends in Computer Science, Electronics and Communication Engineering,
        Electrical Engineering. Conference will also provide a platform for
        academicians, research community and industry to share the recent
        developments, and to discuss about the discoveries in computational
        intelligence and informatics.<br> 6th International Conference on Data
        Engineering and Communication Technology (ICDECT-2022) is scheduled to be
        held on August 12th & 13th, 2022 and is organized by Department of CSE,
        Aditya Engineering College(A), Aditya Nagar, ADB Road, Surampalem -533437
        from August 12th & 13th, 2022 in association with Springer.
      </p>
    </mat-tab>

    <mat-tab label="About Department" >
     
      <br>
      <br>
      <div class="row" >
        <h4 class="text-divider text-center">
          <span id="font" class="heading_department">About Department</span>
        </h4>
        
      </div>
      <hr />
  
      <p class="department_para">
        The
        <span class="span_department">
          Department of Computer Science and Engineering (CSE)</span
        >
        is established with the inception of college in the year 2001. It
        administers bachelor's programs in Computer Science and Engineering with
        an intake of 180 students, as well as master's programs in Computer
        Science and Engineering and Software Engineering with an intake of 36
        students and 18 students. We are very proud to say that around 30 students
        are studying in our dept from various countries like Nepal, nigeria,and
        from different parts of India. For the better placements purpose, we have
        been MOU with various standard assessment organizations like Co Cubes,
        AMCAT, Elitmos.. We are very happy to say that most of our students have
        been trained and certified in various new technologies and trends which
        are necessary in the present industries from the second year onwards. One
        of the key factor of our department is our faculty. They are much skilled,
        committed and sincere about their career. We are very proud to say that
        our dept has 2 PhDs and most of the remaining are pursuing PhDs. They are
        publishing their research articles in various reputed journals and
        conferences The CSE department's many strengths include its high
        faculty-to-student ratio, state of the art facilities, renowned faculty,
        strong focus on undergraduate education balanced with leading-edge
        research, and emphasis on leadership, service, and ethics. Our Faculty
        members motivate or support the students in getting placed in MNC, to
        establish start-up's and also encourage more in research articles.
      </p>
  
    </mat-tab>

    <mat-tab label="About Institute" >
      <br>
      <br>

      <div class="row" >
        <h4 class="text-divider text-center">
          <span id="font" class="heading_department">About Institute</span>
        </h4>
      </div>
      <hr />
      <p class="department_para">
        ADITYA ENGINEERING COLLEGE (AEC) was established in 2001 at Surampalem,
        Kakinada, Andhra Pradesh in
        <span class="span_department">
          180 Acres of pollution free and lush green landscaped </span
        >surroundings by the visionaries of Aditya Academy who have been in the
        field of education since last 3 ½ decades, extending their relentless and
        glorious services. AEC believes in the holistic development of society at
        large and is striving hard by putting its efforts in multi-disciplinary
        activities. The College shoulders the responsibility of shaping the
        Intellect, Character and Physique of every student, because it believes
        that these are rudimentary aspects for students to develop a humanized and
        harmonious society, and become meaningful architects of the nation as a
        whole. Our vision is to impart quality education, in a congenial
        atmosphere, as comprehensive as possible, with the support of all the
        modern technologies and produce graduates and post graduates in
        engineering with the ability and passion to work wisely, creatively, and
        effectively for the welfare of the society. It is our endeavor to develop
        a system of Education which can harness students’ capabilities,
        potentialities and the muscles of the mind thoroughly trained to enable it
        to manifest great feats of intellectualism. AEC has International
        standards and aims to be a centre of excellence to produce principal
        architects of the future. AEC is in the field of education for enriching
        the knowledge of budding youth with innovative calibre and to equip them
        with competitive skills fit for job, fit for life.
      </p>
    </mat-tab>
  </mat-tab-group>


  <div class="container text-justify lab-text" >
   


   

    <!-- <table class="table table-bordered" id="programs">
      <thead>
        <tr class="course_head">
          <th class="text-center">S.No</th>
          <th class="text-center">Building Name</th>
          <th class="text-center">Department/Office</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1</td>
          <td>Cotton Bhavan</td>
          <td>
            Administrative Office, Examination Cell, Accounts, Admission Office,
            ECE.
          </td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td>K. L. Rao Bhavan</td>
          <td>
            Mechanical, Electrical, Petroleum Technology,Mining Engineering and
            Agricultural Engineering
          </td>
        </tr>
        <tr>
          <td class="text-center">3</td>
          <td>Bill Gates Bhavan</td>
          <td>CSE, IT, H&amp;BS, Civil, Management Sciences.</td>
        </tr>
        <tr>
          <td class="text-center">4</td>
          <td>Abdul Kalam Bhavan</td>
          <td>MCA and Polytechnic Courses.</td>
        </tr>
      </tbody>
    </table> -->
  </div>
</section>
