<!-- ======= Hero Section ======= -->
<section id="zero" class="d-flex align-items-center justify-content-center" >
	<div class="container" data-aos="fade-up">
	 
	  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
		
		<div class="col-xl-6 col-lg-8">
		  <h1 style="font-size: 80px; line-height: 50px;"><span>OUR</span> GALLERY</h1>
		<!-- <h2 style="font-size: 30px;">Data Engineering and Communication Technology <span>(ICDECT) 2022</span></h2> -->
  <br>
		
		</div>
	  </div>
  
	</div>
</section><!-- End Hero -->

<div class="container">

	

	<div class="gallery" style="margin-top: 30px;">

		<div class="gallery-item">
			<img class="gallery-image" src="https://aec.edu.in/images/gallery/APJ%204.JPG" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://aec.edu.in/images/gallery/APJ%202.JPG" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://aec.edu.in/images/gallery/APJ%204.JPG" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://aec.edu.in/images/gallery/APJ%204.JPG" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://aec.edu.in/images/gallery/APJ%204.JPG" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://aec.edu.in/images/gallery/APJ%204.JPG" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>

	</div>

</div>