<!-- ======= Hero Section ======= -->
<section id="zero" class="d-flex align-items-center justify-content-center" >
	<div class="container" data-aos="fade-up">
	 
	  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
		
		<div class="col-xl-6 col-lg-8">
		  <h1 style="font-size: 80px; line-height: 50px;"><span>OUR</span> GALLERY</h1>
		<!-- <h2 style="font-size: 30px;">Data Engineering and Communication Technology <span>(ICDECT) 2022</span></h2> -->
  <br>
		
		</div>
	  </div>
  
	</div>
</section><!-- End Hero -->

<div class="container">

	

	<div class="gallery" style="margin-top: 30px;">

		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 1.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 2.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 3.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 4.jpeg" alt="">
		</div>
		
	
		<!-- <div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 5.jpeg" alt="">
		</div> -->
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 6.jpeg" alt="">
		</div>
		
	
		<!-- <div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 7.jpeg" alt="">
		</div> -->
		
	
		<!-- <div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 8.jpeg" alt="">
		</div> -->
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 9.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 10.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 11.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 12.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 13.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 14.jpeg" alt="">
		</div>
		
	
		<!-- <div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 15.jpeg" alt="">
		</div> -->
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 16.jpeg" alt="">
		</div>
		
	
		<!-- <div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 17.jpeg" alt="">
		</div> -->
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 18.jpeg" alt="">
		</div>
		
	
		<!-- <div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 19.jpeg" alt="">
		</div> -->
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 20.jpeg" alt="">
		</div>
		
	
		<!-- <div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 21.jpeg" alt="">
		</div> -->
		
<!-- 	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 22.jpeg" alt="">
		</div> -->
		
<!-- 	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 23.jpeg" alt="">
		</div> -->
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 24.jpeg" alt="">
		</div>
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 25.jpeg" alt="">
		</div>
		
<!-- 	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 26.jpeg" alt="">
		</div> -->
		
	
		<div class="gallery-item">
			<img class="gallery-image" src="assets/Dect-Images/Image 27.jpeg" alt="">
		</div>

	</div>

</div>