<!-- ======= Header ======= -->

<div class="careful">
  
  <mat-toolbar id="header" class="NavBar fixed-top" style="z-index: 9;">

    <mat-toolbar-row class="fluid-container">

      <button mat-icon-button color="accent" class="MobViewHide" [matMenuTriggerFor]="MobileMenu" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      


      <a class="logo" href="#" style="font-weight: bolder; cursor: pointer; color: #ffc451 !important;">ICDECT - 22</a>
      <span class="spacer"></span>
  
     <div class="hide">
      <button class="shadow_power_3" mat-button onclick="location.href='#'" >Home</button>
      <button class="shadow_power_3" mat-button [matMenuTriggerFor]="about">About</button>
      <button class="shadow_power_3" mat-button onclick="location.href='#call_for_papers'">Call For Papers</button>
      <button class="shadow_power_3" mat-button onclick="location.href='#submissions'" >Submissions</button>
      <button class="shadow_power_3" mat-button [routerLink]="['/register']">Registration</button>
      <button class="shadow_power_3" mat-button onclick="location.href='#dates'" >Dates</button>
      <button class="shadow_power_3" [routerLink]="['/team']" mat-button>Team</button>
      <button class="shadow_power_3" mat-button [routerLink]="['/gallery']">Gallery</button>
      <button class="shadow_power_3" mat-button onclick="location.href='#venue'">Venue</button> 
      <button class="shadow_power_3" mat-button onclick="location.href='#contact'">Contact</button>

     </div>

     <mat-menu #MobileMenu="matMenu">
      <button mat-menu-item [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
      <button mat-menu-item [matMenuTriggerFor]="about">About</button>
      <!-- <ul>
        <li><a href="/about/#conference">About Conference</a></li>
        <li><a href="/about/#institute">About Institute</a></li>
        <li><a href="/about/#department">About Department</a></li>
      </ul> -->
      <button mat-menu-item onclick="location.href='#call_for_papers'">Call For Papers</button>
      <button mat-menu-item onclick="location.href='#submissions'" >Submissions</button>
      <button mat-button [routerLink]="['/register']">Registration</button>
      <button mat-menu-item onclick="location.href='#dates'" >Dates</button>
      <button mat-menu-item [routerLink]="['/team']">Team</button>
      <button mat-menu-item [routerLink]="['/gallery']">Gallery</button>
      <button mat-menu-item onclick="location.href='#venue'">Venue</button> 
      <button mat-menu-item onclick="location.href='#contact'">Contact</button>
    </mat-menu>
  
      <span class="spacer"></span>
      <img onclick="location.href='/'" style="cursor: pointer;" src="assets/img_more/LOGO3.png" height="35px" width="auto" alt="">
      
        <mat-menu #about="matMenu" style="z-index: 9;">
        
            <button mat-menu-item [routerLink]="['/about/0']" onclick="change();">
              <a style="text-decoration:none">About Conference</a>
            </button>

            <button mat-menu-item [routerLink]="['/about/2']" onclick="change();">
              <a style="text-decoration:none">About Institute</a>
            </button>

            <button mat-menu-item  [routerLink]="['/about/1']" onclick="change();">
              <a style="text-decoration:none">About Department</a>
            </button>
       
        </mat-menu>
    
     
    </mat-toolbar-row>
  
  </mat-toolbar>
  
  
  <router-outlet (activate)="onActivate($event)" style=" padding-top: 70px;"></router-outlet>
  
</div>

  

