.careful{
    max-width: 100%;
    overflow-x: hidden;
}

.spacer{
    flex: .5 .5 auto;
}

.NavBar{
    background-color: rgba(0, 0, 0, 0.105);
}

.mat-button{
    color: white;
    font-size: 1rem;  
}


// NavBar Responsiveness

// Mobile
@media screen and (max-width:1220px) {

    .hide{
        display: none;
    }
    .MobViewHide{
        display: block;
    }
    
}

// Laptop
@media screen and (min-width: 1220px){

    .MobViewHide{
        display: none;
    }

    .hide{
        display: block;
    }
   
}