.careful{
    max-width: 100%;
    overflow-x: hidden;
}

.spacer{
    flex: .5 .5 auto;
}

.NavBar{
    // background-color: rgba(0, 0, 0, 0.105);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.144);
    // box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
}

.mat-button{
    color: white;
    font-size: 1rem;  
}


// NavBar Responsiveness

// Mobile
@media screen and (max-width:1220px) {

    .hide{
        display: none;
    }
    .MobViewHide{
        display: block;
    }
    
}

// Laptop
@media screen and (min-width: 1220px){

    .MobViewHide{
        display: none;
    }

    .hide{
        display: block;
    }
   
}