<!-- ======= Hero Section ======= -->
<section id="zero" class="d-flex align-items-center justify-content-center" >
	<div class="container" data-aos="fade-up">
	 
	  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
		
		<div class="col-xl-6 col-lg-8">
		  <h1 style="font-size: 80px; line-height: 50px;"><span>OUR</span> TEAM</h1>
		<!-- <h2 style="font-size: 30px;">Data Engineering and Communication Technology <span>(ICDECT) 2022</span></h2> -->
  <br>
		
		</div>
	  </div>
  
	</div>
</section><!-- End Hero -->

  <!-- Our team Section -->
  <section id="team" class="team content-section">
      <div class="container">
        <div class="row text-center">
    
          <div class="container">
            <div class="row">

              <div class="row pb-5 mb-2">
                <!-- Sesha Reddy, Chairman -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                      <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
                      <div class="social">
                        <figcaption>
                          <p>Chairman</p>
                        </figcaption>
                      </div>
                    </div>
                    <div class="member-info">
                      <h3>Dr. N. Sesha Reddy</h3>
                      <span>Chief Patron</span>
                    </div>
                  </div>
                </div>
                 <!-- Satish Reddy, VC -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                      <img src="assets/team/king2.jpg" class="img-fluid" alt="" />
                      <div class="social">
                        <figcaption>
                          <p>Vice Chairman</p>
                        </figcaption>
                      </div>
                    </div>
                    <div class="member-info">
                      <h3>Dr. N. Satish Reddy</h3>
                      <span>Patron</span>
                    </div>
                  </div>
                </div>
                <!-- TK RamaKrishna, Principal -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                      <img src="assets/team/prince2.jpg" class="img-fluid" alt="" />
                      <div class="social">
                        <figcaption>
                          <p>Principal, Aditya College of Engineering & Technology</p>
                        </figcaption>
                      </div>
                    </div>
                    <div class="member-info">
                      <h3>Dr. T. K. Rama Krishna Rao</h3>
                      <span>Co-Patron</span>
                    </div>
                  </div>
                </div>
                <!-- Ramesh, Principal -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                      <img src="assets/team/prince3.jpg" class="img-fluid" alt="" />
                      <div class="social">
                        <figcaption>
                          <p>Principal, Aditya College of Engineering</p>
                        </figcaption>
                      </div>
                    </div>
                    <div class="member-info">
                      <h3>Dr. A. Ramesh</h3>
                      <span>Co-Patron</span>
                    </div>
                  </div>
                </div>
  
   <!-- Dr. M. Sreenivasa Reddy -->
   <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/prince1.jpg" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Principal, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. M. Sreenivasa Reddy</h3>
        <span>Conference Chair</span>
      </div>
    </div>
  </div>
  

 <!-- Dr. Suresh Chandra Satapathy -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/Suresh-Chandra-Satapathy.webp" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Professor & Dean (Research), School of Computer Engg., KIIT, Bhubaneswar, India.</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. Suresh Chandra Satapathy</h3>
        <span>Honorary Chair</span>
      </div>
    </div>
  </div>
  

 <!-- Dr. S. Rama Sree -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/Dr.S.R.S.jpg" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Prof. in CSE & Dean (Academics), Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. S. Rama Sree</h3>
        <span>Convener</span>
      </div>
    </div>
  </div>
  

 <!-- Ms. A. Vanathi -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/csehod.png" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>HOD-CSE, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Ms. A. Vanathi</h3>
        <span>Co-Convener</span>
      </div>
    </div>
  </div>
  
                  <div class="m-4">
                      <!-- special One -->
                      <div class="accordion" id="myAccordion1">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne1">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne1" >Coordinators</button>									
                              </h2>
                              <div id="collapseOne1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion1">
                                  <div class="card-body">
                                      <div class="row pb-4 mb-3">
                                        
   <!-- Dr. M.V. Rajesh -->
   <div class="col-xl-4 col-sm-10 mb-20 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/Swaroopa.jpg" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Professor, Department of CSE, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. M.V. Rajesh</h3>
        <span>Coordinator</span>
      </div>
    </div>
  </div>
  

 <!-- Dr. K. Swaroopa -->
  <div class="col-xl-4 col-sm-10 mb-20 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/Swaroopa.jpg" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Assoc. Professor, Department of CSE, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. K. Swaroopa</h3>
        <span>Coordinator</span>
      </div>
    </div>
  </div>
  

 <!-- Mr. V. Ravi Kishore -->
  <div class="col-xl-4 col-sm-10 mb-20 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/ravikishor.png" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Assoc. Professor, Department of CSE, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. V. Ravi Kishore</h3>
        <span>Coordinator</span>
      </div>
    </div>
  </div>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                          
                          <div class="section-title" >
                              <!-- <h2>Editorial Committee</h2> -->
                              <p>Editorial Committee</p>
                          </div>
  
                  <div class="m-4">
                 
                      <div class="accordion" id="myAccordion">
  
  
                          <!-- 1 -->
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">Website & Publication Committee</button>                     
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                  <div class="row pb-4 mb-3">
                                    
   <!-- Mr. Jiya Ull Haq -->
   <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. Jiya Ull Haq</h3>
      </div>
    </div>
  </div>
  

 <!-- Mr. Ishtiaq Ahmed -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. Ishtiaq Ahmed</h3>
      </div>
    </div>
  </div>
  

 <!-- Mr. M. Srinu -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. M. Srinu</h3>
      </div>
    </div>
  </div>
  

 <!-- Mr. M. Venkatesh -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. M. Venkatesh</h3>
      </div>
    </div>
  </div>
                                    
                                </div>
                                </div>
                            </div>
                        </div>
                          <!-- 2 -->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Organizing Committee</button>                     
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" role="listitem">Dr. R. Srinivas, Prof. in CSE &amp; Dean (Statutory Bodies), Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Mr. M. Raja Babu, HOD-IT, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Dr. G. Sridevi, HOD-ECE, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Mr. V. Satyanarayana, HOD-ECE, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Dr. V. Srinivasa Rao, HOD-EEE, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Dr. T. Rama Reddy, Professor, Department of CSE, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Dr. P. Uday Kumar, Professor, Department of CSE, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Dr. M. Kandan, Assoc. Professor, Department of CSE, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Dr. M. Vamsi Krishna, Associate Professor, Department of CSE, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">DR. S. Prasanth Vaidya, Associate Professor, Department of CSE, Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">DR. Mamta Pandey,Associate Professor, Department of CSE, Aditya Engineering College (A)</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- 3 -->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Steering Committee</button>                     
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" role="listitem">Dr. K.V.S.R. Murthy, Prof. in EEE &amp; Dean (R&amp;D), Aditya Engineering College (A)</li>
                      <li class="list-group-item" role="listitem">Dr. T. Narendrudu, Prof. in H&amp;BS &amp; Dean (Administration), Aditya Engineering College (A)</li>
                      <li class="list-group-item" role="listitem">Prof. J. Pavan, Prof. in EEE &amp; Dean (Evaluation), Aditya Engineering College (A)</li>
                      <li class="list-group-item" role="listitem">Prof. J.D. Venkatesh, Dean (Student Affairs), Aditya Engineering College (A)</li>
                      <li class="list-group-item" role="listitem">Dr. A. Rama Krishna, Dean, Aditya College of Engineering &amp; Technology</li>
                      <li class="list-group-item" role="listitem">Dr. P.S.V.V.S. Ravi Kumar, Dean, Aditya College of Engineering</li>
                      <li class="list-group-item" role="listitem">Dr. M. Anil Kumar, HOD-CSE, Aditya College of Engineering &amp; Technology</li>
                      <li class="list-group-item" role="listitem">Mr. R.V.V.N. Bheema Rao, HOD-IT, Aditya College of Engineering &amp; Technology</li>
                      <li class="list-group-item" role="listitem">Dr. G.S.N. Murthy, HOD-CSE, Aditya College of Engineering</li>
                      <li class="list-group-item" role="listitem">Dr. R.V.V. Krishna, HOD, Dept. of ECE, Aditya College of Engineering &amp; Technology, Surampalem</li>
                      <li class="list-group-item" role="listitem">Dr. D. Kishore, HOD, Dept. of ECE, Aditya College of Engineering &amp; Technology</li>
                      <li class="list-group-item" role="listitem">Dr. G. Rama Krishna, HOD-ECE, Aditya College of Engineering</li>
                      <li class="list-group-item" role="listitem">Dr. K. Anand Kumar, Professor, Aditya Engineering College (A)</li>
                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- 4 -->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">International Advisory Committee</button>                     
                              </h2>
                              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" role="listitem">Dr. K.V.S.R. Murthy, Prof. in EEE &amp; Dean (R&amp;D), Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Dr. T. Narendrudu, Prof. in H&amp;BS &amp; Dean (Administration), Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Prof. J. Pavan, Prof. in EEE &amp; Dean (Evaluation), Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Prof. J.D. Venkatesh, Dean (Student Affairs), Aditya Engineering College (A)</li>
                                          <li class="list-group-item" role="listitem">Dr. A. Rama Krishna, Dean, Aditya College of Engineering &amp; Technology</li>
                                          <li class="list-group-item" role="listitem">Dr. P.S.V.V.S. Ravi Kumar, Dean, Aditya College of Engineering</li>
                                          <li class="list-group-item" role="listitem">Dr. M. Anil Kumar, HOD-CSE, Aditya College of Engineering &amp; Technology</li>
                                          <li class="list-group-item" role="listitem">Mr. R.V.V.N. Bheema Rao, HOD-IT, Aditya College of Engineering &amp; Technology</li>
                                          <li class="list-group-item" role="listitem">Dr. G.S.N. Murthy, HOD-CSE, Aditya College of Engineering</li>
                                          <li class="list-group-item" role="listitem">Dr. R.V.V. Krishna, HOD, Dept. of ECE, Aditya College of Engineering &amp; Technology, Surampalem</li>
                                          <li class="list-group-item" role="listitem">Dr. D. Kishore, HOD, Dept. of ECE, Aditya College of Engineering &amp; Technology</li>
                                          <li class="list-group-item" role="listitem">Dr. G. Rama Krishna, HOD-ECE, Aditya College of Engineering</li>
                                          <li class="list-group-item" role="listitem">Dr. K. Anand Kumar, Professor, Aditya Engineering College (A)</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- 5 -->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFive">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">National Advisory Committee</button>                     
                              </h2>
                              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item" role="listitem">Prof. S. S. Bhakar, Vice Chancellor, ITM University, Gwalior</li>
                                          <li class="list-group-item" role="listitem">Prof. Pratap Jyoti Handique, Vice Chancellor, Assam Science and Technology University</li>
                                          <li class="list-group-item" role="listitem">Prof.(Dr.) Navin Sheth, Vice Chancellor, Gujarat Technological University</li>
                                          <li class="list-group-item" role="listitem">Prof. R. Shridhar, Vice Chancellor, Kalinga University, Raipur (C.G.)</li>
                                          <li class="list-group-item" role="listitem">Prof. Neeraj Gupta, Vice Chancellor (i/c), Central University of Rajasthan, Rajasthan</li>
                                          <li class="list-group-item" role="listitem">Professor (Dr.) I K Bhat, Vice Chancellor, Manav Rachna University, Faridabad</li>
                                          <li class="list-group-item" role="listitem">Prof. (Dr) Anand Mahalwar, Vice Chancellor, ISBM University, CG</li>
                                          <li class="list-group-item" role="listitem">Prof. (Dr.) K P Yadav,Vice Chancellor, MATS University, Raipur</li>
                                          <li class="list-group-item" role="listitem">Prof. Abhay Kumar, Vice Chancellor, Pratap University, Jaipur, Rajasthan</li>
                                          <li class="list-group-item" role="listitem">Dr. B.K.Mohanty, Principal, Sambalpur university institute of information technology, Burla, Odisha</li>
                                          <li class="list-group-item" role="listitem">Dr. Gaurav Trivedi Associate Professor IIT Guwahati</li>
                                          <li class="list-group-item" role="listitem">Prof. Shaik Rafi Ahamed Professor, IIT Guwahati</li>
                                          <li class="list-group-item" role="listitem">Dr. Deepak Joshi Assistant Professor IIT Delhi</li>
                                          <li class="list-group-item" role="listitem">Dr. Anil Kumar Vuppala Professor, IIIT Hyderabad</li>
                                          <li class="list-group-item" role="listitem">Dr. K V Sridhar, Associate Professor NIT Warangal</li>
                                          <li class="list-group-item" role="listitem">Dr. Taimoor Khan, Assistant Professor, NIT Silchar</li>
                                          <li class="list-group-item" role="listitem">Dr. Dhandapani Vaithiyanathan, Assistant Professor, ECE, NIT Delhi</li>
                                          <li class="list-group-item" role="listitem">Dr. Kiran Kumar Gurrala, Assistant Professor &amp; HoD, ECE, NIT Andhra Pradesh</li>
                                          <li class="list-group-item" role="listitem">Dr. Vijaya Bhaskar Semwal Assistant Professor CSE MNIT Bhopal</li>
                                          <li class="list-group-item" role="listitem">Dr. DVLN Somayajulu, Professor (HAG), Department of CSE, NIT, Warangal, Telangana</li>
                                          <li class="list-group-item" role="listitem">Prof. Ketan Kotecha, Director, Symbiosis Institute of Technology</li>
                                          <li class="list-group-item" role="listitem">Dr. Saidi Reddy Parne, Associate professor &amp; Dean ( Research and Consultancy), NIT Goa</li>
                                          <li class="list-group-item" role="listitem">Dr. Shubhankar Majumdar, Assistant Professor, National Institute of Technology Meghalaya, Shillong</li>
                                          <li class="list-group-item" role="listitem">Dr. Pankaj Kumar Pal, Assistant Professor, National Institute of Technology Utarakhand</li>
                                          <li class="list-group-item" role="listitem">Prof. J V R Murthy, Director Incubation and IPR, Professor, UCEK, JNTUK, Kakinada, Andhra Pradesh.</li>
                                          <li class="list-group-item" role="listitem">Dr.T.V.S. Gireendranath, Project Manager, Cipher Cloud India.</li>
                                          <li class="list-group-item" role="listitem">Dr.N.P. Gopalan, Department of computer applications, NIT-Tiruchurapalli.</li>
                                          <li class="list-group-item" role="listitem">Dr.R. Sireesha, HOD,Department of CSE, GITAM Deemed to be university -Visakhapatnam.</li>
                                          <li class="list-group-item" role="listitem">Dr.N.Nagamalleswara Rao,Professor,Department of IT,RVR&amp;JC college of engineering-Guntur.</li>
                                          <li class="list-group-item" role="listitem">Dr A.YesuBabu,Professor&amp;HOD-CSE,CR Reddy College of engineering Eluru.</li>
                                          <li class="list-group-item" role="listitem">Dr P.S.Avadhani,Retd Professor of Andhra university,Director-IIIT-Agartala.</li>
                                          <li class="list-group-item" role="listitem">Prof. B.T Krishna Professor JNTUK Kakinada.</li>
                                          <li class="list-group-item" role="listitem">Dr. S Chandramohan Reddy CE (PG), JNTUA.</li>
                                          <li class="list-group-item" role="listitem">Prof. N. Balaji Professor JNTUK Kakinada.</li>
                                          <li class="list-group-item" role="listitem">Dr. Ch Srinivasa Rao Professor, JNTUCE, Vizinagaram.</li>
                                          <li class="list-group-item" role="listitem">Dr. A Raja Bayanna, Senior Scientist, PRL, Rajasthan.</li>
                                          <li class="list-group-item" role="listitem">Dr. Krishna Prasad MHM, Professor, UCEK, JNTUK, Kakinada, Andhra Pradesh.</li>
                                          <li class="list-group-item" role="listitem">Dr. P. Suresh Varma, Professor, Adikavi Nannaya University, Rajamahendravaram, Andhra Pradesh.</li>
                                          <li class="list-group-item" role="listitem">Dr. L. Sumalatha, Professor&amp; DE, UCEK, JNTUK, Kakinada, Andhra Pradesh</li>
                                          <li class="list-group-item" role="listitem">Dr. A.S.N. Chakravarthy, CSE, JNTUK UCEV, Vizianagaram</li>
                                          <li class="list-group-item" role="listitem">Dr. G. Jaya Suma, Professor, JNTUK-University College of Engineering, Vizianagaram, AndhraPradesh</li>
                                          <li class="list-group-item" role="listitem">Dr. D. Haritha, HOD, UCEK, JNTUK, Kakinada, Andhra Pradesh</li>
                                          <li class="list-group-item" role="listitem">Dr. K. Ramadevi, JNTUK, UCEK, Kakinada, Andhra Pradesh</li>
                                          <li class="list-group-item" role="listitem">Dr. K.Venkata Murali Mohan, Principal &amp; Professor, Teegla Krishna Reddy Engineering College,Telangana</li>
                                          <li class="list-group-item" role="listitem">Dr. V. Srinivas Naresh, Dean R&amp;D, Sri Vasavi Engineering College</li>
                                          <li class="list-group-item" role="listitem">Dr. V. Jawahar Senthilkumar, Professor, College of Engineering-Guindy, Anna University, Chennai,Tamilnadu</li>
                                          <li class="list-group-item" role="listitem">Dr. Prakash. M, Professor, Karpagam College of Engineering, Coimbatore, Tamilnadu</li>
                                          <li class="list-group-item" role="listitem">Dr. V. Tamilselvan, Professor, Karpagam College of Engineering, Coimbatore, Tamilnadu</li>
                                          <li class="list-group-item" role="listitem">Dr. G. Naga Satish, Professor, BVRIT Hyderabad College of Engineering for Women, Hyderabad</li>
                                          <li class="list-group-item" role="listitem">Dr. Jose Moses Gummadi, Professor, Malla Reddy Engineering College(A), Hyderabad, Telangana</li>
                                          <li class="list-group-item" role="listitem">Dr. Krishna Vempati, Professor, TKR College of Engineering and Technology, Hyderabad, Telangana</li>
                                          <li class="list-group-item" role="listitem">Dr. B.Satyanarayana, Professor, CMR Institute of Technology, Hyderabad, Telangana</li>
                                          <li class="list-group-item" role="listitem">Dr. Bhagyalaxmi Jena, Sr.Assistant Professor, Silicon Institute of Technology, Bhubaneswar, Orissa</li>
                                          <li class="list-group-item" role="listitem">Dr. V.Balaji, Founder, Radiance Technology Research Services Private Limited, Coimbatore.</li>
                                          <li class="list-group-item" role="listitem">Dr. Avinash Rai, Assistant Professor , Department of Electronics &amp; Communication Engineering,University Institute of Technology Rajiv Gandhi Proudyogiki Vishwavidyalaya, M.P</li>
                                          <li class="list-group-item" role="listitem">Dr. Cherry Bhargava Associate Professor, Department of Electronics and Telecommunication Engineering, Symbiosis Institute of Technology, Symbiosis International (Deemded University), Pune.</li>
                                          <li class="list-group-item" role="listitem">Dr. Shruti Jain, Associate Professor, Department of ECE, Jaypee University of Information Technology, Waknaghat, H.P.</li>
                                          <li class="list-group-item" role="listitem">Dr. Saurabh Bilgaiyan, Assistant Professor, KIIT University, Odisha</li>
                                          <li class="list-group-item" role="listitem">Dr. Ravi Sekhar, Assistant Professor, Department of Mechanical Engineering , Symbiosis International (Deemed University) Pune, Maharashtra</li>
                                          <li class="list-group-item" role="listitem">Dr. Meenkshi Sood , Associate Professor, National Institute of Technical Teachers Training & Research (NITTTR), Chandigarh</li>
                                          <li class="list-group-item" role="listitem">Dr. Pritesh Shah , Associate Professor & Head, Electronics and Telecommunication Department, Symbiosis Institute of Technology, Symbiosis International (Deemed University), Pune</li>
                                          <li class="list-group-item" role="listitem">Dr. Khushboo Pachori, Associate Professor, Oriental Institute of Technology, Bhopal</li>
                                          <li class="list-group-item" role="listitem">Dr. Ramesh Chandra Panda, Dean, Research & Development Cell, Synergy Institute of Engineering & Technology, Odisha</li>
                                          <li class="list-group-item" role="listitem">Ram Krishn Mishra, Department of Computer Science, BITS Pilani, Dubai Campus.</li>
                                          <li class="list-group-item" role="listitem">Dr. Prasenjit Banerjee , Sr. Manager, CL Educate Ltd., New Delhi, India</li>
                                          <li class="list-group-item" role="listitem">Dr. G. Sharada, Professor & HOD, Malla Reddy College of Engineering and Technology, Hyderabad, Telangana</li>
                                          <li class="list-group-item" role="listitem">Dr. P. Bhaskara reddy, Director, Holy Mary Institute of Technology & Science, Hyderabad, Telangana</li>
                                          <li class="list-group-item" role="listitem">Dr. G. Soma Sekhar, Professor, Geethanjali College of Engineering and Technology (A), Hyderabad, Telangana</li>
                                          <li class="list-group-item" role="listitem">Dr. A. Arulmurugan, Professor, Vignan University, Guntur, Andhra Pradesh</li>
                                          <li class="list-group-item" role="listitem">Dr. S. Satyanarayana, Professor, Raghu Engineering College, Visakhapatnam, Andhra Pradesh</li>
                                          <li class="list-group-item" role="listitem">Mr. David Solomon Raju. Y, HOD-ECE, Holy Mary Institute of Technology & Science, Hyderabad, Telangana.</li>
                                          <li class="list-group-item" role="listitem">Dr. Subhransu padhee , Department of electrical and electronics engineering , Sambalpur university institute of information technology Burla Odisha</li>
                                          <li class="list-group-item" role="listitem">Dr. Abhishek Choubey, Associate Professor, Sreenidhi institute of science & Technology, Hyderabad</li>
                                          <li class="list-group-item" role="listitem">Dr. Shruti Bhargava Choubey, Associate Professor, Sreenidhi institute of science & Technology, Hyderabad</li>
                                          <li class="list-group-item" role="listitem">Dr. Deepak Punetha, Institute Post Doctoral Research Fellow, Department of Electrical Engineering, Indian Institute of Technology (IIT) Bombay, Powai, Mumbai, Maharashtra, India</li>
                                          <li class="list-group-item" role="listitem">Dr. Sumit Kumar, Incharge M.Tech Embedded Systems, Associate Professor & Head, Electronics and Telecommunication Department, Symbiosis Institute of Technology, Symbiosis International (Deemed University), Pune</li>
                                          <li class="list-group-item" role="listitem">Dr. Yogesh Shrivastava, Assistant Professor, Research Coordinator, Department of Mechanical Engg, Galgotias College of Engineering and Technology (GCET), Greater Noida, Uttar Pradesh, India</li>
                                          </ul>  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
  
              </div>
  
            </div><!-- /.row -->
          </div><!-- /.container -->
    
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.our-team -->
   
  


