<!-- ======= Hero Section ======= -->
<section id="zero" class="d-flex align-items-center justify-content-center" >
	<div class="container" data-aos="fade-up">
	 
	  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
		
		<div class="col-xl-6 col-lg-8">
		  <h1 style="font-size: 80px; line-height: 50px;"><span>OUR</span> TEAM</h1>
		<!-- <h2 style="font-size: 30px;">Data Engineering and Communication Technology <span>(ICDECT) 2022</span></h2> -->
  <br>
		
		</div>
	  </div>
  
	</div>
</section><!-- End Hero -->

  <!-- Our team Section -->
  <section id="team" class="team content-section">
      <div class="container">
        <div class="row">
    
          <div class="container">
            <div class="row">

              <div class="row pb-5 mb-2">
                <!-- Sesha Reddy, Chairman -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                      <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
                      <div class="social">
                        <figcaption>
                          <p>Chairman</p>
                        </figcaption>
                      </div>
                    </div>
                    <div class="member-info">
                      <h3>Dr. N. Sesha Reddy</h3>
                      <span>Chief Patron</span>
                    </div>
                  </div>
                </div>
                 <!-- Satish Reddy, VC -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                      <img src="assets/team/king2.jpg" class="img-fluid" alt="" />
                      <div class="social">
                        <figcaption>
                          <p>Vice Chairman</p>
                        </figcaption>
                      </div>
                    </div>
                    <div class="member-info">
                      <h3>Dr. N. Satish Reddy</h3>
                      <span>Patron</span>
                    </div>
                  </div>
                </div>
                <!-- TK RamaKrishna, Principal -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                      <img src="assets/team/prince2.jpg" class="img-fluid" alt="" />
                      <div class="social">
                        <figcaption>
                          <p>Principal, Aditya College of Engineering & Technology</p>
                        </figcaption>
                      </div>
                    </div>
                    <div class="member-info">
                      <h3>Dr. T. K. Rama Krishna Rao</h3>
                      <span>Co-Patron</span>
                    </div>
                  </div>
                </div>
                <!-- Ramesh, Principal -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                      <img src="assets/team/prince3.jpg" class="img-fluid" alt="" />
                      <div class="social">
                        <figcaption>
                          <p>Principal, Aditya College of Engineering</p>
                        </figcaption>
                      </div>
                    </div>
                    <div class="member-info">
                      <h3>Dr. A. Ramesh</h3>
                      <span>Co-Patron</span>
                    </div>
                  </div>
                </div>
  
   <!-- Dr. M. Sreenivasa Reddy -->
   <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/prince1.jpg" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Principal, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. M. Sreenivasa Reddy</h3>
        <span>Conference Chair</span>
      </div>
    </div>
  </div>
  

 <!-- Dr. Suresh Chandra Satapathy -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/Suresh-Chandra-Satapathy.webp" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Professor & Dean (Research), School of Computer Engg., KIIT, Bhubaneswar, India.</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. Suresh Chandra Satapathy</h3>
        <span>Honorary Chair</span>
      </div>
    </div>
  </div>
  

 <!-- Dr. S. Rama Sree -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/Dr.S.R.S.jpg" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Prof. in CSE & Dean (Academics), Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. S. Rama Sree</h3>
        <span>Convener</span>
      </div>
    </div>
  </div>
  

 <!-- Ms. A. Vanathi -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/csehod.png" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>HOD-CSE, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Ms. A. Vanathi</h3>
        <span>Co-Convener</span>
      </div>
    </div>
  </div>
  
                  <div class="m-4">
                      <!-- special One -->
                      <div class="accordion" id="myAccordion1">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne1">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne1" >Coordinators</button>									
                              </h2>
                              <div id="collapseOne1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion1">
                                  <div class="card-body">
                                      <div class="row pb-4 mb-3">
                                        
   <!-- Dr. M.V. Rajesh -->
   <div class="col-xl-4 col-sm-10 mb-20 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/Rajesh2.jpg" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Professor, Department of CSE, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. M.V. Rajesh</h3>
        <span>Coordinator</span>
      </div>
    </div>
  </div>
  

 <!-- Dr. K. Swaroopa -->
  <div class="col-xl-4 col-sm-10 mb-20 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/Swaroopa.jpg" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Assoc. Professor, Department of CSE, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Dr. K. Swaroopa</h3>
        <span>Coordinator</span>
      </div>
    </div>
  </div>
  

 <!-- Mr. V. Ravi Kishore -->
  <div class="col-xl-4 col-sm-10 mb-20 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="assets/team/ravikishor.png" class="img-fluid" alt="" />
        <div class="social">
          <figcaption>
            <p>Assoc. Professor, Department of CSE, Aditya Engineering College (A)</p>
          </figcaption>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. V. Ravi Kishore</h3>
        <span>Coordinator</span>
      </div>
    </div>
  </div>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                          
                          <div class="section-title" >
                              <!-- <h2>Editorial Committee</h2> -->
                              <p>Editorial Committee</p>
                          </div>
  
                  <div class="m-4">
                 
                      <div class="accordion" id="myAccordion">
  
  
                          <!-- 1 -->
                          <div class="accordion-item text-center" >
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">Website & Publication Committee</button>                     
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                  <div class="row pb-4 mb-3">
                                    
   <!-- Mr. Jiya Ull Haq -->
   <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <!-- <img src="assets/team/king1.jpg" class="img-fluid" alt="" /> -->
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. Jiya Ull Haq</h3>
      </div>
    </div>
  </div>
  

 <!-- Mr. Ishtiaq Ahmed -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <!-- <img src="assets/team/king1.jpg" class="img-fluid" alt="" /> -->
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. Ishtiaq Ahmed</h3>
      </div>
    </div>
  </div>
  

 <!-- Mr. M. Srinu -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <!-- <img src="assets/team/king1.jpg" class="img-fluid" alt="" /> -->
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. M. Srinu</h3>
      </div>
    </div>
  </div>
  

 <!-- Mr. M. Venkatesh -->
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <!-- <img src="assets/team/king1.jpg" class="img-fluid" alt="" /> -->
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h3>Mr. M. Venkatesh</h3>
      </div>
    </div>
  </div>
                                    
                                </div>
                                </div>
                            </div>
                        </div>
                          <!-- 2 -->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Organizing Committee</button>                     
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                      <ul class="list-group list-group-flush" *ngFor="let names of Odata; let i=index">
                                          <li class="list-group-item" role="listitem" *ngIf="i!=0">{{names}}</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- 3 -->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Steering Committee</button>                     
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                    <ul class="list-group list-group-flush" *ngFor="let names of Sdata; let i=index">
                                      <li class="list-group-item" role="listitem" *ngIf="i!=0">{{names}}</li>
                                  </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- 4 -->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">International Advisory Committee</button>                     
                              </h2>
                              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                    <ul class="list-group list-group-flush" *ngFor="let names of Idata; let i=index">
                                      <li class="list-group-item" role="listitem" *ngIf="i!=0">{{names}}</li>
                                   </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- 5 -->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFive">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">National Advisory Committee</button>                     
                              </h2>
                              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                    <ul class="list-group list-group-flush" *ngFor="let names of Ndata; let i=index">
                                      <li class="list-group-item" role="listitem" *ngIf="i!=0">{{names}}</li>
                                  </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
  
              </div>
  
            </div><!-- /.row -->
          </div><!-- /.container -->
    
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.our-team -->
   
  


