<!-- ======= Hero Section ======= -->
<section id="zero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1 style="font-size: 80px; line-height: 50px">
          <span>OUR</span> TEAM
        </h1>
        <!-- <h2 style="font-size: 30px;">Data Engineering and Communication Technology <span>(ICDECT) 2022</span></h2> -->
        <br />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- Our team Section -->
<section id="team" class="team content-section">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="row pb-5 mb-2">

            <div class="section-title">
              <h2>Chief Patron</h2>
            </div>

            <!-- Sesha Reddy, Chairman -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>Chairman</p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. N. Sesha Reddy</h3>
                  <span>Chief Patron</span>
                </div>
              </div>
            </div>

            <div class="section-title">
              <h2>Patron</h2>
            </div>
            <!-- Satish Reddy, VC -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/king2.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>Vice Chairman</p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. N. Satish Reddy</h3>
                  <span>Patron</span>
                </div>
              </div>
            </div>

            <div class="section-title">
              <h2>Co - Patron</h2>
            </div>
            <!-- TK RamaKrishna, Principal -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="assets/team/prince2.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>
                        Principal, Aditya College of Engineering & Technology
                      </p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. T. K. Rama Krishna Rao</h3>
                  <span>Co-Patron</span>
                </div>
              </div>
            </div>
            <!-- Ramesh, Principal -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="assets/team/prince3.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>Principal, Aditya College of Engineering</p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. A. Ramesh</h3>
                  <span>Co-Patron</span>
                </div>
              </div>
            </div>

            <div class="section-title">
              <h2>Conference Chair</h2>
            </div>
            <!-- Dr. M. Sreenivasa Reddy -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/prince1.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>Principal, Aditya Engineering College (A)</p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. M. Sreenivasa Reddy</h3>
                  <span>Conference Chair</span>
                </div>
              </div>
            </div>

            <div class="section-title">
              <h2>Honorary Chair</h2>
            </div>

            <!-- Dr. Suresh Chandra Satapathy -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/Suresh-Chandra-Satapathy.webp" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>
                        Professor & Dean (Research), School of Computer Engg.,
                        KIIT, Bhubaneswar, India.
                      </p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. Suresh Chandra Satapathy</h3>
                  <span>Honorary Chair</span>
                </div>
              </div>
            </div>
            <br />
            <div class="section-title">
              <h2>Publication Chair</h2>
            </div>
            <!-- Dr.M.Ramakrishna Murty -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/jadejal.jpeg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>Professor Dept.of CSE ANITS , Visakhapatnam</p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. M.Ramakrishna Murty</h3>
                  <span>Publications Chair</span>
                </div>
              </div>
            </div>
            <div class="section-title">
              <h2>Convener & Co Convener</h2>
            </div>

            <!-- Dr. S. Rama Sree -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/Dr.S.R.S.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>
                        Prof. in CSE & Dean (Academics), Aditya Engineering
                        College (A)
                      </p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. S. Rama Sree</h3>
                  <span>Convener</span>
                </div>
              </div>
            </div>

            <!-- Ms. A. Vanathi -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/csehod.png" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>HOD-CSE, Aditya Engineering College (A)</p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Ms. A. Vanathi</h3>
                  <span>Co-Convener</span>
                </div>
              </div>
            </div>

            <div class="section-title">
              <h2>Coordinators</h2>
            </div>

            <!-- Dr. M.V. Rajesh -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/Rajesh2.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>
                        Professor, Department of CSE, Aditya Engineering College
                        (A)
                      </p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. M.V. Rajesh</h3>
                  <span>Coordinator</span>
                </div>
              </div>
            </div>

            <!-- Dr. K. Swaroopa -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/Swaroopa.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>
                        Assoc. Professor, Department of CSE, Aditya Engineering
                        College (A)
                      </p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. K. Swaroopa</h3>
                  <span>Coordinator</span>
                </div>
              </div>
            </div>

            <!-- Mr. V. Ravi Kishore -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/ravikishor.png" class="img-fluid" alt="" />
                  <div class="social">
                    <figcaption>
                      <p>
                        Assoc. Professor, Department of CSE, Aditya Engineering
                        College (A)
                      </p>
                    </figcaption>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Mr. V. Ravi Kishore</h3>
                  <span>Coordinator</span>
                </div>
              </div>
            </div>







            <div class="section-title text-center">
              <br />
              <h1>Editorial Committee</h1>
              <br />
            </div>


            <!-- 1 -->
            <div class="section-title">
              <h2>Website Committee</h2>
            </div>

            <!-- Mr. M. Venkatesh -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/DRvenkat.jpeg" class="img-fluid" alt=""/>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/maganti-venkatesh-6a049b3b"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Dr. M. Venkatesh</h3>
                </div>
              </div>
            </div>

            <!-- Mr. Jiya Ull Haq -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/jiya.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <a href="https://www.instagram.com/thisisjiyaa/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/jiya-ull-haq/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Mr. Jiya Ull Haq</h3>
                </div>
              </div>
            </div>

            <!-- Mr. Ishtiaq Ahmed -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/team/ishti.jpg" class="img-fluid" alt="" />
                  <div class="social">
                    <a href="https://www.instagram.com/i_am_ishtiaqahmed/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/ishtiaq-samdani-5460a4211/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h3>Mr. Ishtiaq Ahmed</h3>

                </div>
              </div>
            </div>


            <br />

            <!-- 1.5 -->
            <div class="section-title">
              <h2>Technical Committee</h2>
            </div>
            <div style="margin-bottom: 20px">
              <ul class="list-group list-group-flush" *ngFor="let names of Tdata; let i = index">
                <li class="list-group-item" role="listitem" *ngIf="i != 0">
                  <mat-icon>verified</mat-icon> {{ names }}
                </li>
              </ul>
            </div>
            <br />


            <!-- 2 -->
            <div class="section-title">
              <h2>Organizing Committee</h2>
            </div>
            <div style="margin-bottom: 20px">
              <ul class="list-group list-group-flush" *ngFor="let names of Odata; let i = index">
                <li class="list-group-item" role="listitem" *ngIf="i != 0">
                  <mat-icon>verified</mat-icon> {{ names }}
                </li>
              </ul>
            </div>
            <br />


            <!-- 3 -->
            <div class="section-title">
              <h2>Steering Committee</h2>
            </div>
            <div style="margin-bottom: 20px">
              <ul class="list-group list-group-flush" *ngFor="let names of Sdata; let i = index">
                <li class="list-group-item" role="listitem" *ngIf="i != 0">
                  <mat-icon>verified</mat-icon> {{ names }}
                </li>
              </ul>
            </div>
            <br />

            <!-- 4 -->
            <div class="section-title">
              <h2>International Advisory Committee</h2>
            </div>
            <div style="margin-bottom: 20px">
              <ul class="list-group list-group-flush" *ngFor="let names of Idata; let i = index">
                <li class="list-group-item" role="listitem" *ngIf="i != 0">
                  <mat-icon>verified</mat-icon>  {{ names }}
                </li>
              </ul>
            </div>
            <br />


            <!-- 5 -->
            <div class="section-title">
              <h2>National Advisory Committee</h2>
            </div>
            <div style="margin-bottom: 20px">
              <ul class="list-group list-group-flush" *ngFor="let names of Ndata; let i = index">

                <li class="list-group-item" role="listitem" *ngIf="i != 0">
                  <mat-icon>verified</mat-icon> {{ names }}
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.our-team -->
