<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center" >
    <div class="container" data-aos="fade-up">
     
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        
        <div class="col-xl-6 col-lg-8">
          <h1 style="font-size: 30px;">6<sup><span>th</span></sup> International Conference</h1>
        <h2 style="font-size: 30px;">Data Engineering and Communication Technology <span>(ICDECT) 2022</span></h2>
<br>
        <div class="main"><a class="cta-btn" href="#">Register</a></div>
        </div>
      </div>

    </div>
</section><!-- End Hero -->

  <main id="main">

    <div class="" style="margin-top: 10px;">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="news blue">
             <span class="text1"><marquee> This is the Latest News of Aditya Engineering College. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam alias aspernatur cupiditate deserunt dicta quidem voluptatum rem, laborum, corporis mollitia animi tempore perspiciatis error sapiente minus reiciendis! Aliquid, possimus repellendus. </marquee></span>
          </div>
        </div>
      </div>
    </div>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        
        <div class="row">
         
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img_more/conf.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <mat-tab-group mat-align-tabs="center" animationDuration="2000ms" dynamicHeight>
              <mat-tab label="About Conference"> 
                <p style="line-height: 25px; margin-top: 15px;">
                  The objective of this Scopus indexed International Conference on Data Engineering and Communication Technology (ICDECT) 2022 is to present a unified platform for advanced and multi-disciplinary research towards design of smart computing, information systems, electronic systems. The theme focuses on various innovation paradigms in system knowledge, intelligence and sustainability that may be applied to provide realistic solution to variegated problems in society, environment and industries. The scope is also extended towards deployment of emerging computational and knowledge transfer approaches, optimizing solutions in a variety of disciplines of Computer Science and Engineering, Electronics and Communication Engineering, Electrical and Electronics Engineering, Electronics and Instrumentation Engineering. The conference proceedings aim to publish unpublished work pertaining to the topics mentioned below. The conference is scheduled to be held on August 27 & 28, 
                  2022 at Aditya Engineering College (AEC), Surampalem, Andhra Pradesh, India
                </p>
              </mat-tab>
              <mat-tab label="About Institude"> Content 2 </mat-tab>
              <mat-tab label="About Department"> Content 3 </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        

      </div>
    </section><!-- End About Section -->



 <!-- ======= Services Section ======= -->
 <section id="call_for_papers" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Call For Papers</h2>
      <p>Check our Topics</p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" >
      
      <div class="col">
        <ul style=" list-style: none;
        line-height: 50px;">
          <li><i class="fa fa-check"></i> 5G Wireless Communications</li>
          <li><i class="fa fa-check"></i> Wireless Sensor Networks</li>
          <li><i class="fa fa-check"></i> Graphics and Image Processing</li>
          <li><i class="fa fa-check"></i> Signal And Image Processing</li>
          <li><i class="fa fa-check"></i> DSP Architectures</li>
          <li><i class="fa fa-check"></i> Micro electronics, Circuits and Systems</li>
          <li><i class="fa fa-check"></i> Low Power VLSI Circuits</li>
          <li><i class="fa fa-check"></i> Remote Sensing</li>
          <li><i class="fa fa-check"></i> Electromagnetics </li>
          <li><i class="fa fa-check"></i> Antenna, Smart Antennas</li>
          <li><i class="fa fa-check"></i> Microwave Engineering And Microwave Circuits</li>
          <li><i class="fa fa-check"></i> Embedded Systems</li>
          <li><i class="fa fa-check"></i> Biomedical Image Processing</li>
          <li><i class="fa fa-check"></i> Machine Learning</li>
          <li><i class="fa fa-check"></i> Millimeter Waves </li>
          <li><i class="fa fa-check"></i> Internet Of Things </li>
          <li><i class="fa fa-check"></i> Computer Vision and Pattern Recognition</li>
          <li><i class="fa fa-check"></i> Big Data</li>
          <li><i class="fa fa-check"></i> Quantum Computing</li>
        </ul>
      </div>
      <div class="col ml-auto">
        <ul style=" list-style: none;
        line-height: 50px;">
          <li><i class="fa fa-check"></i> Green IT and IT for rural Engineering</li>
          <li><i class="fa fa-check"></i> Mobile Computing and Applications</li>
          <li><i class="fa fa-check"></i> Artificial Intelligence</li>
          <li><i class="fa fa-check"></i> Optimization Algorithms</li>
          <li><i class="fa fa-check"></i> Information Technologies</li>
          <li><i class="fa fa-check"></i> Biomedical Signal Processing</li>
          <li><i class="fa fa-check"></i> Broadband Mobile Communications</li>
          <li><i class="fa fa-check"></i> MIMO Systems </li>
          <li><i class="fa fa-check"></i> Deep Learning for Communication Systems</li>
          <li><i class="fa fa-check"></i> Soft Computing</li>
          <li><i class="fa fa-check"></i> Data Mining</li>
          <li><i class="fa fa-check"></i> Intelligent Autonomous Systems</li>
          <li><i class="fa fa-check"></i> Human Computer Interface</li>
          <li><i class="fa fa-check"></i> Information Security</li>
          <li><i class="fa fa-check"></i> Bioinformatics</li>
          <li><i class="fa fa-check"></i> Wireless Networks and Information Security</li>
          <li><i class="fa fa-check"></i> Network Security </li>
          <li><i class="fa fa-check"></i> Next –generation Networking Technologies</li>
          <li><i class="fa fa-check"></i> Computer Vision and Architecture</li>
        </ul>
      </div>
      <div class="col ml-auto">
        <ul style=" list-style: none;
        line-height: 50px;">
          <li><i class="fa fa-check"></i> Mobile Security </li>
          <li><i class="fa fa-check"></i> Nano Computing</li>
          <li><i class="fa fa-check"></i> Intelligent Computing in Sensors </li>
          <li><i class="fa fa-check"></i> Intelligent and Computer Vision Instruments </li>
          <li><i class="fa fa-check"></i> Measurement in Robotics</li>
          <li><i class="fa fa-check"></i> Computational Nero Science</li>
          <li><i class="fa fa-check"></i> Industrial Automation </li>
          <li><i class="fa fa-check"></i> Analysis And Design Of Control Systems</li>
          <li><i class="fa fa-check"></i> Power System Modeling And Analysis</li>
          <li><i class="fa fa-check"></i> High Voltage Direct Current(HVDC) </li>
          <li><i class="fa fa-check"></i> Power Electronics and Drives </li>
          <li><i class="fa fa-check"></i> Electric Vehicle Technology</li>
          <li><i class="fa fa-check"></i> Smart Grid</li>
          <li><i class="fa fa-check"></i> Renewable Energy Systems </li>
          <li><i class="fa fa-check"></i> Power System Protection</li>
          <li><i class="fa fa-check"></i> Power Electronics and Drive Control Technics</li>
          <li><i class="fa fa-check"></i> RFID and Cognitive Radio</li>
          <li><i class="fa fa-check"></i> Ad-Hoc Networks</li>
          <li><i class="fa fa-check"></i> Real Time Operating Systems</li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->
 <!-- ======= Counts Section ======= -->

 <section id="submissions" class="counts">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Downloads</h2>
      <p>Submissions</p>
    </div>
    <div class="row no-gutters">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
      <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
        <div class="content d-flex flex-column justify-content-center">
          <p>
            The various intelligent tools like swarm intelligence, Fuzzy logic, Artificial intelligence, Genetic Algorithm, evolutionary algorithms, bio-inspired algorithms could be well applied in different domains for solving various challenging problems
          </p>
          <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" class="purecounter"></span>
                <p><strong>Number of Happy Collaborations</strong></p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" class="purecounter"></span>
                <p><strong>Number of Submissions</strong> </p>
              </div>
            </div>
          </div>
          
          
          <div style="text-align: left;">
              <ul style=" 
              line-height: 30px;">
                <li><p>Conference Brochure: <a href="">Download</a></p></li>
                <li><p>Call for Special Sessions: <a href="">Download</a></p></li>
                <li><p>Registration form: <a href="">Download</a></p></li>
                <li><p>Copy Rights form: <a href="">Download</a></p></li>
              </ul>
            
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End Counts Section -->



    <!-- ======= Features Section ======= -->
    <section id="dates" class="features">
      
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Dates</h2>
          <p>Time Table</p>
        </div>
        <div class="row">
          <div class="image col-lg-6" style='background-image: url("assets/img_more/sched.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="row">
    
              <div class="col">
                <table class="table" style="color: black;">
                  <thead>
                    <tr>
                      <th scope="col">
                        S.No</th>
                      <th scope="col">Description</th>
                      <th scope="col">Date/s</th>
          
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Deadline for Paper submission</td>
                      <td></td>
          
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Paper Acceptance Notification</td>
                      <td></td>
          
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td >Start of Registration with final paper submission</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td >Close of Registration</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

   
  

    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Check our Portfolio</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Portfolio Section -->

   
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img_more/shesha.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. N. Sesha Reddy</h4>
                <span>Chairman | Chief Patron</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img_more/shesha.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. N. Satish Reddy</h4>
                <span>Vice Chairman | Patron</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img_more/shesha.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. T. K. Rama Krishna Rao</h4>
                <span>Principal ACET | Co-Patron</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img_more/shesha.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. A. Ramesh</h4>
                <span>Principal ACE | Co-Patron</span>
              </div>
            </div>
          </div>

        </div>
        <div class="team" style="text-align: center;"><a class="cta-btn" href="team">Meet the Entire Team</a></div>
    </div>
    </section><!-- End Team Section -->



      <!-- ======= Contact Section ======= -->
      <section id="venue" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Venue</h2>
            <p>Organized At</p>
          </div>
  
          <div>
            <iframe id="gmap_canvas" scrolling="no" style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3813.6554685686647!2d82.06460621487219!3d17.089497188257738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a378165aaaaaaab%3A0x481e8b12b4b80715!2sAditya%20Engineering%20College!5e0!3m2!1sen!2sin!4v1630926881672!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="single-well text-center" style="font-size:14px"><br>
            <b style="color:#fd6607;font-size:20px">Aditya Engineering College, Surampalem</b><br>		  
            <p>(An Autonomous Institute under JNTU, Kakinada)<br>
              ADB Road, Surampalem - Pin:533437 East-Godavari District,<br>
              Andhra Pradesh, INDIA.</p>
          </div>
        </div>
      </section><!-- End Contact Section -->
  
      
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>ADITYA ENGINEERING COLLEGE
                  Aditya Nagar, ADB Road,
                  Surampalem - Pin:533437
                  East-Godavari District,       
                  Andhra Pradesh,
                  INDIA.</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ICDECT2022@aec.edu.in</p>
              </div>

              <!-- <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>0884-23 26 202,
                  +91 99498 76662,
                  +91 99897 76661</p>
              </div> -->

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
