<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div id="particles-js"></div>
  <div class="container" data-aos="fade-up">
    
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      
      <div class="text-center">

      <div class="">
        <h1>
          6<sup><span>th</span></sup> International Conference
        </h1>
        <h2>
          <p><span>On</span> Data Engineering and Communication Technology</p>
        </h2>
      </div>
        
        <!-- <div class="container_button main">
          <div class="center">
            <a class="cta-btn" href="register">Register <mat-icon style="font-size:20px; vertical-align: middle;">account_circle</mat-icon></a>
          </div>
        </div> -->
        
        <div class="class_collge">
          <p class="bigg_one"><span style="color:#ffc451">12<sup>th</sup></span> & <span style="color:#ffc451">13<sup>th</sup></span> AUG, 2022</p>
          <p class="cse">Organized by Department of Computer Science and Engineering,</p>
          Aditya Engineering College (<span style="color:#ffc451">A</span>)
        </div>
        <br />
        <!-- <div class="main"><a class="cta-btn" href="register">Register</a></div> -->
      </div>
    </div>
    
  </div>
</section>
<!-- End Hero -->








<main id="main">
  <div class="" style="margin-top: 10px">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="news blue">
          <span class="text1">
              <mat-icon class="article">article</mat-icon>
            <marquee>
              This is the Latest News of Aditya Engineering College. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit. Veniam alias
              aspernatur cupiditate deserunt dicta quidem voluptatum rem,
              laborum, corporis mollitia animi tempore perspiciatis error
              sapiente minus reiciendis! Aliquid, possimus repellendus.
            </marquee>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img_more/springer-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <div class="section-title">
            <h2>About</h2>
            <p>What is it about?</p>
          </div>

          <p style="line-height: 25px; margin-top: 15px">
            The main aim of the conference is to offer a real opportunity to
            bring together researchers of different disciplines, to discuss and
            share new issues, to tackle complex problems and to find advanced
            solutions breeding trends in Computer Science, Electronics and
            Communication Engineering, Electrical Engineering. Conference will
            also provide a platform for academicians, research community and
            industry to share the recent developments, and to discuss about the
            discoveries in computational intelligence and informatics. 6th
            International Conference on Data Engineering and Communication
            Technology (ICDECT-2022) is scheduled to be held on August 12th &
            13th, 2022 and is organized by Department of CSE, Aditya Engineering
            College(A), Aditya Nagar, ADB Road, Surampalem -533437 from August
            12th & 13th, 2022 in association with Springer.
          </p>
          <br />
          <a href="about">Read More...</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="call_for_papers" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Call For Papers</h2>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" style="font-size: 15px">
        <div class="col">
          <ul style="list-style: none; line-height: 50px">
            <li><i class="fa fa-check"></i>Data Mining</li>
            <li>
              <i class="fa fa-check"></i>Databases and Information Retrieval
              Systems
            </li>
            <li><i class="fa fa-check"></i>Health informatics</li>
            <li><i class="fa fa-check"></i>Machine Learning</li>
            <li><i class="fa fa-check"></i>Deep Learning</li>
            <li><i class="fa fa-check"></i>NLP</li>
            <li>
              <i class="fa fa-check"></i>Computer Vision and Pattern Recognition
            </li>
            <li><i class="fa fa-check"></i>Knowledge Engineering</li>
            <li><i class="fa fa-check"></i>High Performance Computing</li>
            <li><i class="fa fa-check"></i>Parallel Computing</li>
            <li><i class="fa fa-check"></i>Distributed Computing</li>
            <li><i class="fa fa-check"></i>Grid Computing</li>
            <li><i class="fa fa-check"></i>Soft Computing</li>
            <li><i class="fa fa-check"></i>Quantum Computing</li>
            <li><i class="fa fa-check"></i>Virtualization</li>
            <li><i class="fa fa-check"></i>Networking and Security</li>
            <li><i class="fa fa-check"></i>Networking and communications</li>
            <li><i class="fa fa-check"></i>Future internet architectures</li>
            <li><i class="fa fa-check"></i>Named data networks</li>
          </ul>
        </div>
        <div class="col ml-auto">
          <ul style="list-style: none; line-height: 50px">
            <li><i class="fa fa-check"></i>Edge computing</li>
            <li>
              <i class="fa fa-check"></i>Adhoc and Wireless Sensor Networks
            </li>
            <li><i class="fa fa-check"></i>Network Security</li>
            <li><i class="fa fa-check"></i>Information Security</li>
            <li><i class="fa fa-check"></i>Cyber Security</li>
            <li><i class="fa fa-check"></i>Grid and Cloud Security</li>
            <li><i class="fa fa-check"></i>Application Security</li>
            <li>
              <i class="fa fa-check"></i>Web and Mobile Application Security
            </li>
            <li><i class="fa fa-check"></i>RFID and Cognitive Radio</li>
            <li>
              <i class="fa fa-check"></i>Blockchain based AI and cloud computing
            </li>
            <li>
              <i class="fa fa-check"></i>Blockchain-based IoT Applications and
              Services
            </li>
            <li>
              <i class="fa fa-check"></i>Blockchain in Cyber Physical Systems
              (CPS)
            </li>
            <li>
              <i class="fa fa-check"></i>Blockchain Analytics and Data mining
            </li>
            <li>
              <i class="fa fa-check"></i>Security and Privacy in Blockchain
            </li>
            <li>
              <i class="fa fa-check"></i>Software Engineering and Analytics
            </li>
            <li>
              <i class="fa fa-check"></i>Business Process Design and Deployment
            </li>
            <li><i class="fa fa-check"></i>Safety-Critical Software</li>
            <li><i class="fa fa-check"></i>Model Driven Development</li>
            <li><i class="fa fa-check"></i>Security and Privacy</li>
          </ul>
        </div>
        <div class="col ml-auto">
          <ul style="list-style: none; line-height: 50px">
            <li><i class="fa fa-check"></i>Web Intelligence and Computing</li>
            <li>
              <i class="fa fa-check"></i>Crowdsourcing and Social Data Mining
            </li>
            <li><i class="fa fa-check"></i>Human Centric Computing</li>
            <li><i class="fa fa-check"></i>Information Diffusion</li>
            <li><i class="fa fa-check"></i>Knowledge Community Support</li>
            <li><i class="fa fa-check"></i>Modelling Crowdsourcing</li>
            <li>
              <i class="fa fa-check"></i>Algorithms and Knowledge Management
            </li>
            <li>
              <i class="fa fa-check"></i>Autonomy-Oriented Computing (AOC)
            </li>
            <li><i class="fa fa-check"></i>Computational Models</li>
            <li>
              <i class="fa fa-check"></i>Data Driven Services and Applications
            </li>
            <li>
              <i class="fa fa-check"></i>Data Science and Machine Learning
            </li>
            <li><i class="fa fa-check"></i>Semantic Networks</li>
            <li><i class="fa fa-check"></i>Sensor Networks</li>
            <li><i class="fa fa-check"></i>Web Science</li>
            <li><i class="fa fa-check"></i>Fake Content and Fraud Detection</li>
            <li><i class="fa fa-check"></i>Hidden Web Analytics</li>
            <li>
              <i class="fa fa-check"></i>Monetization Services and Applications
            </li>
            <li><i class="fa fa-check"></i>Trust Models for Agents</li>
            <li><i class="fa fa-check"></i>Ubiquitous Computing</li>
          </ul>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" style="font-size: 15px">
        <div class="col">
          <ul style="list-style: none; line-height: 50px">
            <li><i class="fa fa-check"></i>Agent Networks</li>
            <li><i class="fa fa-check"></i>Autonomy Remembrance Agents</li>
            <li><i class="fa fa-check"></i>Autonomy-oriented Computing</li>
            <li><i class="fa fa-check"></i>Behavior Modelling</li>
            <li>
              <i class="fa fa-check"></i>Distributed Problem-Solving Global
              Brain
            </li>
            <li>
              <i class="fa fa-check"></i>Image/Video Formation and Display
            </li>
            <li>
              <i class="fa fa-check"></i>Image/Video Filtering Restoration
              Enhancement and Super-resolution
            </li>
            <li>
              <i class="fa fa-check"></i>Image/Video Coding and Transmission
            </li>
            <li>
              <i class="fa fa-check"></i>Image/Video Storage Retrieval and
              Authentication
            </li>
            <li><i class="fa fa-check"></i>Image/Video Quality</li>
            <li>
              <i class="fa fa-check"></i>Transform-based and Multi-resolution
              Image/Video Analysis
            </li>
            <li>
              <i class="fa fa-check"></i>Biological and Perceptual Models for
              Image/Video Processing
            </li>
            <li>
              <i class="fa fa-check"></i>Machine Learning in Image/Video
              Analysis
            </li>
            <li>
              <i class="fa fa-check"></i>Probability and uncertainty handling
              for Image/Video Processing
            </li>
            <li><i class="fa fa-check"></i>Motion and Tracking</li>
            <li><i class="fa fa-check"></i>Communication and Computing</li>
            <li><i class="fa fa-check"></i>Fog Computing</li>
            <li><i class="fa fa-check"></i>Wireless LANs and PANs</li>
            <li><i class="fa fa-check"></i>Human Body Communication</li>
          </ul>
        </div>

        <div class="col ml-auto">
          <ul style="list-style: none; line-height: 50px">
            <li><i class="fa fa-check"></i>Broadband Mobile Communications</li>
            <li><i class="fa fa-check"></i>Nano Computing</li>
            <li><i class="fa fa-check"></i>Embedded Systems</li>
            <li>
              <i class="fa fa-check"></i>4G & 5G Communications & Technology
            </li>
            <li><i class="fa fa-check"></i>Green computing</li>
            <li><i class="fa fa-check"></i>IoT Applications and Services</li>
            <li><i class="fa fa-check"></i>Signal Processing</li>
            <li><i class="fa fa-check"></i>DSP Architectures</li>
            <li><i class="fa fa-check"></i>Signal and Image Processing</li>
            <li><i class="fa fa-check"></i>Biomedical Signal Processing</li>
            <li>
              <i class="fa fa-check"></i>Electronics and Signal processing for
              IoT
            </li>
            <li><i class="fa fa-check"></i>Sensors and Antenna</li>
            <li><i class="fa fa-check"></i>Mobile IoT</li>
            <li><i class="fa fa-check"></i>Robotics</li>
            <li>
              <i class="fa fa-check"></i>Nano Electronics & Micro Electronics
            </li>
            <li><i class="fa fa-check"></i>Nano Technology & Nano Machines</li>
            <li>
              <i class="fa fa-check"></i>Very Large-Scale Integration (VLSI)
            </li>
            <li><i class="fa fa-check"></i>Microscale Fabrication</li>
            <li><i class="fa fa-check"></i>Wireless Sensors in Communication Intelligence</li>
            <li><i class="fa fa-check"></i>Power System Modeling and Analysis</li>
            <li><i class="fa fa-check"></i>Power Generation Transmission and Distribution</li>

            <li><i class="fa fa-check"></i>Photonic Devices</li>
            <li><i class="fa fa-check"></i>Power Electronics and Drive Control Technics</li>

            <li><i class="fa fa-check"></i>Photonic Devices</li>
            <li>
              <i class="fa fa-check"></i>Power Electronics and Drive Control
              Technics
            </li>
          </ul>
        </div>
        <div class="col ml-auto">
          <ul style="list-style: none; line-height: 50px">
            <li><i class="fa fa-check"></i>Speech Processing using Artificial Intelligence</li>
            <li><i class="fa fa-check"></i>Tele sensation and Hyper Reality</li>
            <li><i class="fa fa-check"></i>Telecommunication and Radio Signals Remote Sensing</li>
            <li><i class="fa fa-check"></i>Intelligent Computing in Sensors</li>
            <li><i class="fa fa-check"></i>Sensor Instrumentation and Measuring Technology</li>
            <li><i class="fa fa-check"></i>Antenna Smart Antennas</li>
            <li><i class="fa fa-check"></i>Micro Electronics Circuits and Systems</li>
            <li><i class="fa fa-check"></i>Circuits and Systems</li>
            <li><i class="fa fa-check"></i>Microwave Engineering and Microwave Circuits</li>
            <li><i class="fa fa-check"></i>Low Power VLSI Circuits</li>
            <li><i class="fa fa-check"></i>Electromagnetics and Mechatronics</li>
            <li><i class="fa fa-check"></i>HVDC Renewable Energy Systems</li>
            <li><i class="fa fa-check"></i>Renewable Energy Sources</li>
            <li><i class="fa fa-check"></i>Smart grids Technologies & Applications</li>
            <li><i class="fa fa-check"></i>Analysis and Design of Control Systems</li>
            <li><i class="fa fa-check"></i>Power Electronics and Drives</li>
            <li><i class="fa fa-check"></i>Power Electronics Systems and Applications</li>
            <li><i class="fa fa-check"></i>Power System Protection</li>
            <li><i class="fa fa-check"></i>Electric Vehicle Technology</li>

            <li><i class="fa fa-check"></i>Electro Technologies</li>
            <li><i class="fa fa-check"></i>Digital Communication</li>

            <li><i class="fa fa-check"></i>Semiconductor Technology</li>
            <li><i class="fa fa-check"></i>Transmission of Numerical Images</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
  <!-- ======= Counts Section ======= -->
  <section id="submissions" class="counts">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Downloads</h2>
      </div>
      <div class="row no-gutters">
        <div class="
            image
            col-xl-5
            d-flex
            align-items-stretch
            justify-content-center justify-content-lg-start
          " data-aos="fade-right" data-aos-delay="100"></div>
        <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
          <div class="content d-flex flex-column justify-content-center">
            <!-- <p>
            The various intelligent tools like swarm intelligence, Fuzzy logic, Artificial intelligence, Genetic
            Algorithm, evolutionary algorithms, bio-inspired algorithms could be well applied in different domains
            for solving various challenging problems
          </p> -->
            <!-- <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2"
                  class="purecounter"></span>
                <p><strong>Number of Happy Collaborations</strong></p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2"
                  class="purecounter"></span>
                <p><strong>Number of Submissions</strong> </p>
              </div>
            </div>
          </div> -->

            <div class="download_div" style="text-align: left">
              <ul style="line-height: 30px">
                <li class="download">
                  <p class="download_content">
                    Conference Brochure:
                    <a href="" class="download_link">will be available soon...</a>
                  </p>
                </li>
                <li class="download">
                  <p class="download_content">
                    Call for Special Sessions:
                    <a href="" class="download_link">will be available soon...</a>
                  </p>
                </li>
                <li class="download">
                  <p class="download_content">
                    Registration form:
                    <a href="" class="download_link">will be available soon...</a>
                  </p>
                </li>
                <li class="download">
                  <p class="download_content">
                    Copy Rights form:
                    <a href="" class="download_link">will be available soon...</a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Features Section ======= -->
  <section id="dates" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Dates</h2>
        <p>Time Table</p>
      </div>
      <div class="row">
        <div class="image col-lg-6" style="background-image: url('assets/img_more/sched.jpg')" data-aos="fade-right">
        </div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="row">
            <div class="col">
              <table class="table" style="color: black">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date/s</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Deadline for Paper submission</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Paper Acceptance Notification</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Start of Registration with final paper submission</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Close of Registration</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Portfolio Section ======= -->
  <!-- <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Check our Portfolio</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Team</h2>
        <!-- <p>Check our Team</p> -->
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
              <div class="social">
                <figcaption>
                  <p>Chairman</p>
                </figcaption>
              </div>
            </div>
            <div class="member-info">
              <h3>Dr. N. Sesha Reddy</h3>
              <span>Chairman | Chief Patron</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/team/king2.jpg" class="img-fluid" alt="" />
              <div class="social">
                <figcaption>
                  <p>Vice Chairman</p>
                </figcaption>
              </div>
            </div>
            <div class="member-info">
              <h3>Dr. N. Satish Reddy</h3>
              <span>Vice Chairman | Patron</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="assets/team/prince2.jpg" class="img-fluid" alt="" />
              <div class="social">
                <figcaption>
                  <p>Principal, Aditya College of Engineering & Technology</p>
                </figcaption>
              </div>
            </div>
            <div class="member-info">
              <h3>Dr. T. K. Rama Krishna Rao</h3>
              <span>Principal ACET | Co-Patron</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="assets/team/prince3.jpg" class="img-fluid" alt="" />
              <div class="social">
                <figcaption>
                  <p>Principal, Aditya College of Engineering</p>
                </figcaption>
              </div>
            </div>
            <div class="member-info">
              <h3>Dr. A. Ramesh</h3>
              <span>Principal ACE | Co-Patron</span>
            </div>
          </div>
        </div>
      </div>
      <div class="team" style="text-align: center">
        <a class="cta-btn" href="team">Meet the Entire Team</a>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="venue" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Venue</h2>
        <p>Organized At</p>
      </div>

      <div>
        <iframe id="gmap_canvas" scrolling="no" style="border: 0; width: 100%; height: 270px"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3813.6554685686647!2d82.06460621487219!3d17.089497188257738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a378165aaaaaaab%3A0x481e8b12b4b80715!2sAditya%20Engineering%20College!5e0!3m2!1sen!2sin!4v1630926881672!5m2!1sen!2sin"
          frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="single-well text-center" style="font-size: 14px">
        <br />
        <b style="color: #fd6607; font-size: 20px">Aditya Engineering College, Surampalem</b><br />
        <p>
          (An Autonomous Institute under JNTU, Kakinada)<br />
          ADB Road, Surampalem - Pin:533437 East-Godavari District,<br />
          Andhra Pradesh, INDIA.
        </p>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>0884-23 26 202,
                  +91 99498 76662,
                  +91 99897 76661</p>
              </div> -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>
                ADITYA ENGINEERING COLLEGE Aditya Nagar, ADB Road, Surampalem -
                Pin:533437 East-Godavari District, Andhra Pradesh, INDIA.
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>ICDECT2022@aec.edu.in</p>
            </div>

            <!-- <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>0884-23 26 202, +91 99498 76662, +91 99897 76661</p>
            </div> -->
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required />
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->