<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div id="particles-js"></div>
  <div class="" data-aos="fade-up">
    <div
      class="row justify-content-center"
      data-aos="fade-up"
      data-aos-delay="150"
    >
      <div class="text-center">
        <div class="shadow_power_2">
          <h1>
            6<sup><span>th</span></sup> International Conference
          </h1>
          <h2 style="color: white">
            <p><span>On</span> Data Engineering and Communication Technology</p>
          </h2>
        </div>

        <!-- <div class="container_button main">
          <div class="center">
            <a class="cta-btn" href="register">Register <mat-icon style="font-size:20px; vertical-align: middle;">account_circle</mat-icon></a>
          </div>
        </div> -->

        <div class="class_collge shadow_power">
          <p class="bigg_one">
            <span style="color: #ffc451">12<sup>th</sup></span> &
            <span style="color: #ffc451">13<sup>th</sup></span> AUG, 2022
          </p>
          <p class="cse"></p>
          <p class="organized_by cse">Organized by</p>
          <p class="cse">Department of Computer Science and Engineering,</p>
          Aditya Engineering College (<span style="color: #ffc451">A</span>)
        </div>
        <br />
        <!-- <div class="main"><a class="cta-btn" href="register">Register</a></div> -->
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <div class="" style="margin-top: 10px">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="news blue">
          <span class="text1">
            <mat-icon class="article">article</mat-icon>
            <marquee>
              This is the Latest News of Aditya Engineering College. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit. Veniam alias
              aspernatur cupiditate deserunt dicta quidem voluptatum rem,
              laborum, corporis mollitia animi tempore perspiciatis error
              sapiente minus reiciendis! Aliquid, possimus repellendus.
            </marquee>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img
            src="assets/img_more/springer-logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <div class="section-title">
            <h2>About</h2>
            <p>What is it about?</p>
          </div>

          <p style="line-height: 25px; margin-top: 15px; text-align: justify">
            The main aim of the conference is to offer a real opportunity to
            bring together researchers of different disciplines, to discuss and
            share new issues, to tackle complex problems and to find advanced
            solutions breeding trends in Computer Science, Electronics and
            Communication Engineering, Electrical Engineering. Conference will
            also provide a platform for academicians, research community and
            industry to share the recent developments, and to discuss about the
            discoveries in computational intelligence and informatics. 6th
            International Conference on Data Engineering and Communication
            Technology (ICDECT-2022) is scheduled to be held on August 12th &
            13th, 2022 and is organized by Department of CSE, Aditya Engineering
            College(A), Aditya Nagar, ADB Road, Surampalem -533437 from August
            12th & 13th, 2022 in association with Springer.
          </p>
          <br />
          <a href="about">Read More...</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="call_for_papers" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Call For Papers</h2>
      </div>

      <div class="cfpShow">
        <!-- cfp 1 -->
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3"
          style="font-size: 15px"
        >
          <div class="col">
            <ul style="list-style: none; line-height: 50px">
              <li>Data Mining</li>
              <li>Databases and Information Retrieval Systems</li>
              <li>Health informatics</li>
              <li>Machine Learning</li>
              <li>Deep Learning</li>
              <li>NLP</li>
              <li>Computer Vision and Pattern Recognition</li>
              <li>Knowledge Engineering</li>
            </ul>
            <button mat-button>ReadMore...</button>
          </div>
        </div>
      </div>
      <div class="cfpHide">
        <p>
          The conference papers will cover disciplines of computer science,
          Electronics and Communication Engineering, Electrical Engineering and
          Instrumentation. The topics of interest include, but not limited to
          the following:
        </p>
        <!-- cfp 1 -->
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3"
          style="font-size: 15px"
        >
          <div class="col">
            <ul style="list-style: none; line-height: 50px">
              <li>Data Mining</li>
              <li>Databases and Information Retrieval Systems</li>
              <li>Health informatics</li>
              <li>Machine Learning</li>
              <li>Deep Learning</li>
              <li>NLP</li>
              <li>Computer Vision and Pattern Recognition</li>
              <li>Knowledge Engineering</li>
              <li>High Performance Computing</li>
              <li>Parallel Computing</li>
              <li>Distributed Computing</li>
              <li>Grid Computing</li>
              <li>Soft Computing</li>
              <li>Quantum Computing</li>
              <li>Virtualization</li>
              <li>Networking and Security</li>
              <li>Networking and communications</li>
              <li>Future internet architectures</li>
              <li>Named data networks</li>
              <li>Agent Networks</li>
              <li>Autonomy Remembrance Agents</li>
            </ul>
          </div>
          <div class="col ml-auto">
            <ul style="list-style: none; line-height: 50px">
              <li>Edge computing</li>
              <li>Adhoc and Wireless Sensor Networks</li>
              <li>Network Security</li>
              <li>Information Security</li>
              <li>Cyber Security</li>
              <li>Grid and Cloud Security</li>
              <li>Application Security</li>
              <li>Web and Mobile Application Security</li>
              <li>RFID and Cognitive Radio</li>
              <li>Blockchain based AI and cloud computing</li>
              <li>
                Blockchain-based IoT Applications and
                <p class="call_for_papers_para">Services</p>
              </li>
              <li>
                Blockchain in Cyber Physical Systems
                <p class="call_for_papers_para">(CPS)</p>
              </li>
              <li>Blockchain Analytics and Data mining</li>
              <li>Security and Privacy in Blockchain</li>
              <li>Software Engineering and Analytics</li>
              <li>Business Process Design and Deployment</li>
              <li>Safety-Critical Software</li>
              <li>Model Driven Development</li>
              <li>Security and Privacy</li>
            </ul>
          </div>
          <div class="col ml-auto">
            <ul style="list-style: none; line-height: 50px">
              <li>Web Intelligence and Computing</li>
              <li>Crowdsourcing and Social Data Mining</li>
              <li>Human Centric Computing</li>
              <li>Information Diffusion</li>
              <li>Knowledge Community Support</li>
              <li>Modelling Crowdsourcing</li>
              <li>Algorithms and Knowledge Management</li>
              <li>Autonomy-Oriented Computing (AOC)</li>
              <li>Computational Models</li>
              <li>Data Driven Services and Applications</li>
              <li>Data Science and Machine Learning</li>
              <li>Semantic Networks</li>
              <li>Sensor Networks</li>
              <li>Web Science</li>
              <li>Fake Content and Fraud Detection</li>
              <li>Hidden Web Analytics</li>
              <li>Monetization Services and Applications</li>
              <li>Trust Models for Agents</li>
              <li>Ubiquitous Computing</li>
              <li>Speech Processing using Artificial Intelligence</li>
              <li>Tele sensation and Hyper Reality</li>
            </ul>
          </div>
        </div>
        <!-- cfp 2 -->
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3"
          style="font-size: 15px"
        >
          <div class="col">
            <ul style="list-style: none; line-height: 50px">
              <!-- <li>Agent Networks</li>
              <li>Autonomy Remembrance Agents</li> -->
              <li>Autonomy-oriented Computing</li>
              <li>Behavior Modelling</li>
              <li>
                Distributed Problem-Solving Global
                <p class="call_for_papers_para">Brain</p>
              </li>
              <li>Image/Video Formation and Display</li>
              <li>
                Image/Video Filtering Restoration
                <p class="call_for_papers_para">
                  Enhancement and Super-resolution
                </p>
              </li>
              <li>Image/Video Coding and Transmission</li>
              <li>
                Image/Video Storage Retrieval and
                <p class="call_for_papers_para">Authentication</p>
              </li>
              <li>Image/Video Quality</li>
              <li>
                Transform-based and Multi-resolution
                <p class="call_for_papers_para">Image/Video Analysis</p>
              </li>
              <li>
                Biological and Perceptual Models for
                <p class="call_for_papers_para">Image/Video Processing</p>
              </li>
              <li>
                Machine Learning in Image/Video
                <p class="call_for_papers_para">Analysis</p>
              </li>
              <li>
                Probability and uncertainty handling
                <p class="call_for_papers_para">for Image/Video Processing</p>
              </li>
              <li>Motion and Tracking</li>
              <li>Communication and Computing</li>
              <li>Fog Computing</li>
              <li>Wireless LANs and PANs</li>
              <li>Human Body Communication</li>
            </ul>
          </div>

          <div class="col ml-auto">
            <ul style="list-style: none; line-height: 50px">
              <li>Broadband Mobile Communications</li>
              <li>Nano Computing</li>
              <li>Embedded Systems</li>
              <li>4G & 5G Communications & Technology</li>
              <li>Green computing</li>
              <li>IoT Applications and Services</li>
              <li>Signal Processing</li>
              <li>DSP Architectures</li>
              <li>Signal and Image Processing</li>
              <li>Biomedical Signal Processing</li>
              <li>
                Electronics and Signal processing for
                <p class="call_for_papers_para">IoT</p>
              </li>
              <li>Sensors and Antenna</li>
              <li>Mobile IoT</li>
              <li>Robotics</li>
              <li>Nano Electronics & Micro Electronics</li>
              <li>Nano Technology & Nano Machines</li>
              <li>Very Large-Scale Integration (VLSI)</li>
              <li>Microscale Fabrication</li>
              <li>
                Wireless Sensors in Communication
                <p class="call_for_papers_para">Intelligence</p>
              </li>
              <li>Power System Modeling and Analysis</li>
              <li>
                Power Generation Transmission and
                <p class="call_for_papers_para">Distribution</p>
              </li>

              <li>Photonic Devices</li>
              <li>Power Electronics and Drive Control Technics</li>

              <li>Photonic Devices</li>
              <li>
                Power Electronics and Drive Control
                <p class="call_for_papers_para">Technics</p>
              </li>
            </ul>
          </div>
          <div class="col ml-auto">
            <ul style="list-style: none; line-height: 50px">
              <!-- <li>Speech Processing using Artificial Intelligence</li>
              <li>Tele sensation and Hyper Reality</li> -->
              <li>Telecommunication and Radio Signals Remote 
                <p class="call_for_papers_para">
                  Sensing
                </p>
              </li>
              <li>Intelligent Computing in Sensors</li>
              <li>Sensor Instrumentation and Measuring 
                <p class="call_for_papers_para">    
                  Technology
                </p>
              </li>
              <li>Antenna Smart Antennas</li>
              <li>Micro Electronics Circuits and Systems</li>
              <li>Circuits and Systems</li>
              <li>Microwave Engineering and Microwave 
                <p class="call_for_papers_para">
                  Circuits
                  
                </p>
              </li>
              <li>Low Power VLSI Circuits</li>
              <li>Electromagnetics and Mechatronics</li>
              <li>HVDC Renewable Energy Systems</li>
              <li>Renewable Energy Sources</li>
              <li>Smart grids Technologies & Applications</li>
              <li>Analysis and Design of Control Systems</li>
              <li>Power Electronics and Drives</li>
              <li>Power Electronics Systems and Applications</li>
              <li>Power System Protection</li>
              <li>Electric Vehicle Technology</li>

              <li>Electro Technologies</li>
              <li>Digital Communication</li>

              <li>Semiconductor Technology</li>
              <li>Transmission of Numerical Images</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
  <!-- ======= Counts Section ======= -->
  <section id="submissions" class="counts">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Downloads</h2>
      </div>
      <div class="row no-gutters">
        <div
          class="
            image
            col-xl-5
            d-flex
            align-items-stretch
            justify-content-center justify-content-lg-start
          "
          data-aos="fade-right"
          data-aos-delay="100"
        ></div>
        <div
          class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <div class="content d-flex flex-column justify-content-center">
            <!-- <p>
            The various intelligent tools like swarm intelligence, Fuzzy logic, Artificial intelligence, Genetic
            Algorithm, evolutionary algorithms, bio-inspired algorithms could be well applied in different domains
            for solving various challenging problems
          </p> -->
            <!-- <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2"
                  class="purecounter"></span>
                <p><strong>Number of Happy Collaborations</strong></p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2"
                  class="purecounter"></span>
                <p><strong>Number of Submissions</strong> </p>
              </div>
            </div>
          </div> -->

            <div class="download_div" style="text-align: left">
              <ul style="line-height: 30px">
                <li class="download">
                  <p class="download_content">
                    Conference Brochure:
                    <a href="" class="download_link"
                      >will be available soon...</a
                    >
                  </p>
                </li>
                <li class="download">
                  <p class="download_content">
                    Call for Special Sessions:
                    <a href="" class="download_link"
                      >will be available soon...</a
                    >
                  </p>
                </li>
                <li class="download">
                  <p class="download_content">
                    Registration form:
                    <a href="" class="download_link"
                      >will be available soon...</a
                    >
                  </p>
                </li>
                <li class="download">
                  <p class="download_content">
                    Copy Rights form:
                    <a href="" class="download_link"
                      >will be available soon...</a
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Features Section ======= -->
  <section id="dates" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Dates</h2>
        <p>Time Table</p>
      </div>
      <div class="row">
        <div
          class="image col-lg-6"
          style="background-image: url('assets/img_more/sched.jpg')"
          data-aos="fade-right"
        ></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="row">
            <div class="col">
              <table class="table" style="color: black">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date/s</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Deadline for Paper submission</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Paper Acceptance Notification</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Start of Registration with final paper submission</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Close of Registration</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Portfolio Section ======= -->
  <!-- <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Check our Portfolio</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Team</h2>
        <!-- <p>Check our Team</p> -->
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/team/king1.jpg" class="img-fluid" alt="" />
              <div class="social">
                <figcaption>
                  <p>Chairman</p>
                </figcaption>
              </div>
            </div>
            <div class="member-info">
              <h3>Dr. N. Sesha Reddy</h3>
              <span>Chairman | Chief Patron</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/team/king2.jpg" class="img-fluid" alt="" />
              <div class="social">
                <figcaption>
                  <p>Vice Chairman</p>
                </figcaption>
              </div>
            </div>
            <div class="member-info">
              <h3>Dr. N. Satish Reddy</h3>
              <span>Vice Chairman | Patron</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="assets/team/prince2.jpg" class="img-fluid" alt="" />
              <div class="social">
                <figcaption>
                  <p>Principal, Aditya College of Engineering & Technology</p>
                </figcaption>
              </div>
            </div>
            <div class="member-info">
              <h3>Dr. T. K. Rama Krishna Rao</h3>
              <span>Principal ACET | Co-Patron</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="assets/team/prince3.jpg" class="img-fluid" alt="" />
              <div class="social">
                <figcaption>
                  <p>Principal, Aditya College of Engineering</p>
                </figcaption>
              </div>
            </div>
            <div class="member-info">
              <h3>Dr. A. Ramesh</h3>
              <span>Principal ACE | Co-Patron</span>
            </div>
          </div>
        </div>
      </div>
      <div class="team" style="text-align: center">
        <a class="cta-btn" [routerLink]="['/team']">Meet the Entire Team</a>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="venue" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="margin: 0px !important">Venue</h2>
        <!-- <p>Organized At</p> -->
      </div>
      <div class="single-well text-center" style="font-size: 14px">
        <br />
        <b style="color: #fd6607" class="aditya_eng"
          >Aditya Engineering College, Surampalem</b
        ><br />
        <p>
          ADITYA ENGINEERING COLLEGE Aditya Nagar, ADB Road, Surampalem - Pin:533437 East-Godavari District, Andhra Pradesh, INDIA.
        </p>
      </div>

      <div>
        <iframe
          id="gmap_canvas"
          scrolling="no"
          style="border: 0; width: 100%; height: 270px"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3813.6554685686647!2d82.06460621487219!3d17.089497188257738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a378165aaaaaaab%3A0x481e8b12b4b80715!2sAditya%20Engineering%20College!5e0!3m2!1sen!2sin!4v1630926881672!5m2!1sen!2sin"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <!-- <div class="single-well text-center" style="font-size: 14px">
        <br />
        <b style="color: #fd6607; font-size: 20px">Aditya Engineering College, Surampalem</b><br />
        <p>
          (An Autonomous Institute under JNTU, Kakinada)<br />
          ADB Road, Surampalem - Pin:533437 East-Godavari District,<br />
          Andhra Pradesh, INDIA.
        </p>
      </div> -->
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>0884-23 26 202,
                  +91 99498 76662,
                  +91 99897 76661</p>
              </div> -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>
                ADITYA ENGINEERING COLLEGE Aditya Nagar, ADB Road, Surampalem -
                Pin:533437 East-Godavari District, Andhra Pradesh, INDIA.
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>ICDECT2022@aec.edu.in</p>
            </div>
            <div class="email">
              <i class="bi bi-globe"></i>
              <h4>Website:</h4>
              <p><a href="https://aec.edu.in" style="color: black;">https://aec.edu.in <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
              </svg></a> </p>
            </div>
            <br>

            <!-- <a href="">
              <img src="https://img.icons8.com/office/40/000000/whatsapp--v2.png"/>
            </a> -->

            <!-- <div class="phone">
              <i class="bi bi-whatsapp"></i>
              <h4>Whatsapp:</h4>
              <p>0884-23 26 202, +91 99498 76662, +91 99897 76661</p>
            </div> -->
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                required
              />
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
