<!-- ======= Hero Section ======= -->
<section id="zero" class="d-flex align-items-center justify-content-center" >
	<div class="container" data-aos="fade-up">
	 
	  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
		
		<div class="col-xl-6 col-lg-8">
		  <h1 style="font-size: 80px; line-height: 50px;">REGISTER</h1>
		<!-- <h2 style="font-size: 30px;">Data Engineering and Communication Technology <span>(ICDECT) 2022</span></h2> -->
  <br>
		
		</div>
	  </div>
  
	</div>
	
</section><!-- End Hero -->



<section id="register" class="team content-section">
	<div class="container">
	  <div class="row">
		<div class="col">
			<table class="table" style="color: black">
			  <thead>
				<tr>
				  <th scope="col">S.No</th>
				  <th scope="col">Role</th>
				  <th scope="col">Registration Cost</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th scope="row">1</th>
				  <td>Faculty & Researchers</td>
				  <td>8000</td>
				</tr>
				<tr>
				  <th scope="row">2</th>
				  <td>Foreign Authors</td>
				  <td>200$</td>
				</tr>
				<tr>
				  <th scope="row">3</th>
				  <td>Industry</td>
				  <td>10000</td>
				</tr>
				<tr>
				  <th scope="row">4</th>
				  <td>Participants</td>
				  <td>1000</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		<!-- /.container -->
	  </div>
	  <!-- /.row -->
	</div>
	<!-- /.container -->
  </section>